.user-menu {
  position: relative;
  z-index: 1000;
}

.user-profile {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.2s;
  color: white;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

}

.user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 0.75rem;
  border: 2px solid #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  .organization-name {
    margin-top: 0.2rem;
    color: rgba(255, 255, 255, 0.7);
  }
}

.menu-separator {
  border-top: 1px solid #e0e0e0;
  // margin: 8px 0;
}

.user-dropdown {
  position: absolute;
  left: 0;
  bottom: calc(100% + 5px);
  width: 220px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;

  ul {
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      padding: 0.75rem 1rem;
      color: #333;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }

  }
}

.dropdown-icon {
  transform: rotate(180deg);
  margin-left: 8px;
  font-size: 10px;
  opacity: 0.7;
}
