<div class="user-menu">
  <button class="user-profile" (click)="toggleUserMenu()">
    @if (userPicture) {
      <img class="user-avatar" [src]="userPicture" alt="User profile picture" />
    } @else {
      <div class="user-avatar-placeholder">
        {{ userName.charAt(0).toUpperCase() }}
      </div>
    }
    <div class="user-info">
      <div class="user-name">{{ userName }}</div>
      <div class="organization-name">{{ currentOrganizationName }}</div>
    </div>
    <i class="dropdown-icon">▼</i>
  </button>

  @if (isUserMenuOpen) {
    <div class="user-dropdown">
      <ul>
        <li><a (click)="signOut()">Sign Out</a></li>
        <div class="menu-separator"></div>
      @for (organization of organizations; track organization) {
          <li><a (click)="checkoutToOrganization()">{{organization.name}}</a></li>
        }

      </ul>
    </div>
  }
</div>
